<div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss('false')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you wish to delete {{entityType}} {{name}}?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="close('false')">No</button>
    <button type="button" class="btn btn-outline-dark" (click)="close('true')">Delete</button>
  </div>