<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">Welcome to Simple PMS</p>
        <hr class="my-4">
        <p>Here you can manage all the products and categories you can imagine.</p>
        <a class="btn btn-primary btn-lg" [routerLink]='["/products"]' role="button">Manage Products</a>
    </div>
</div>