<div class="container">
    <div class="row pb-2 mt-4 mb-2 border-bottom">
        <div class="col-md-9">
            <h3>Products</h3>
        </div>
        <div class="col-md-3 text-right">
            <div>
                <a class="btn btn-success pull-right text-white" (click)="add()">Add</a>
            </div>
        </div>
    </div>
    Manage products
</div>
<div class="bg-light pt-2 mb-5 mt-4">
    <div class="container border-bottom border-dark">
        <div class="row d-none d-sm-flex">
            <div class="col-sm-1">
                <h5>Id</h5>
            </div>
            <div class="col-sm-2">
                <h5>Name</h5>
            </div>
            <div class="col-sm-3">
                <h5>Description</h5>
            </div>
            <div class="col-sm-2">
                <h5>Category</h5>
            </div>
            <div class="col-sm-2">
                <h5>Created On</h5>
            </div>
            <div class="col-sm-2">
                <h5>Operations</h5>
            </div>
        </div>
    </div>
    <app-product *ngFor="let product of pagedProducts" [product]="product" (delete)="delete($event)"
        (update)="update($event)">
    </app-product>
</div>
<app-pager (pageItems)='displayPagedItems($event)' [pageSize]="5" [items]="products$"></app-pager>