<div class="modal-header">
  <h4 class="modal-title">Add Product</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #productForm="ngForm" (ngSubmit)="productForm.form.valid && save()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" [(ngModel)]="product.name" placeholder="name" class="form-control"
        required minlength="3" #name="ngModel" />
      <div *ngIf="productForm.submitted && name.invalid" class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Name is required.
        </div>
        <div *ngIf="name.errors.minlength">
          Name must be at least 3 characters long.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" id="description" name="description" [(ngModel)]="product.description" placeholder="description"
        class="form-control" required minlength="3" #description="ngModel" />
      <div *ngIf="productForm.submitted && description.invalid" class="alert alert-danger">
        <div *ngIf="description.errors.required">
          Description is required.
        </div>
        <div *ngIf="description.errors.minlength">
          Description must be at least 3 characters long.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Category</label>
      <select type="text" id="category" name="category" [(ngModel)]="product.category" placeholder="category"
        class="form-control" required #category="ngModel">
        <option [ngValue]="category" *ngFor="let category of categories$ | async">{{category.name}}</option>
      </select>
      <div *ngIf="productForm.submitted && category.invalid" class="alert alert-danger">
        <div *ngIf="category.errors.required">
          Category is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-outline-dark" (click)="close()">Discard</button>
      <button type="submit" class="btn btn-outline-dark">Save</button>
    </div>
  </form>
</div>