<div class="container">
  <div class="row border-bottom border-dark">
    <div class="col-sm-1">
      <div class="pt-3 pb-3">
        <h5 class="d-inline d-sm-none">Id: </h5>
        <span>{{product.id}}</span>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="pt-3 pb-3">
        <h5 class="d-inline d-sm-none">Name: </h5>
        <span (click)="onUpdate(editableTypes.NAME)" placement="bottom" triggers="mouseenter:mouseleave"
          ngbPopover="Click to edit">{{product.name}}</span>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="pt-3 pb-3">
        <h5 class="d-inline d-sm-none">Desc: </h5>
        <span (click)="onUpdate(editableTypes.DESCRIPTION)" placement="bottom" triggers="mouseenter:mouseleave"
          ngbPopover="Click to edit">{{product.description}}</span>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="pt-3 pb-3">
        <h5 class="d-inline d-sm-none">Category: </h5>
        <span>{{product.category.name}}</span>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="pt-3 pb-3">
        <span>{{product.createdOn | date: 'dd/MM/yyyy'}}</span>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="pt-2 pb-2">
        <a class="btn btn-danger text-white" (click)="onDelete()">Delete</a>
      </div>
    </div>
  </div>
</div>