<div class="modal-header">
  <h4 class="modal-title">Add Category</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #categoryForm="ngForm" (ngSubmit)="categoryForm.form.valid && save()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" [(ngModel)]="category.name" placeholder="name" class="form-control"
        required minlength="3" #name="ngModel" />
      <div *ngIf="categoryForm.submitted && name.invalid" class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Name is required.
        </div>
        <div *ngIf="name.errors.minlength">
          Name must be at least 3 characters long.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" id="description" name="description" [(ngModel)]="category.description"
        placeholder="description" class="form-control" required minlength="3" #description="ngModel" />
      <div *ngIf="categoryForm.submitted && description.invalid" class="alert alert-danger">
        <div *ngIf="description.errors.required">
          Description is required.
        </div>
        <div *ngIf="description.errors.minlength">
          Description must be at least 3 characters long.
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-outline-dark" (click)="close()">Discard</button>
      <button type="submit" class="btn btn-outline-dark">Save</button>
    </div>
  </form>
</div>