<app-header></app-header>
<main role="main" class="flex-shrink-0">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
<div class="footer-margin">
  <app-footer></app-footer>
</div>
