<div class="container">
  <div class="row pb-2 mt-4 mb-2 border-bottom">
    <div class="col-9">
      <h3>Categories</h3>
    </div>
    <div class="col-3 text-right">
      <div>
        <a class="btn btn-success pull-right text-white" (click)="add()">Add</a>
      </div>
    </div>
  </div>
  Manage categories
</div>
<div class="bg-light pt-2 mb-2 mt-4">
  <div class="container border-bottom border-dark">
    <div class="row">
      <div class="col-sm-1">
        <h5>Id</h5>
      </div>
      <div class="col-sm-4">
        <h5>Name</h5>
      </div>
      <div class="col-sm-4">
        <h5>Description</h5>
      </div>
      <div class="col-sm-3">
        <h5>Operations</h5>
      </div>
    </div>
  </div>
  <app-category *ngFor="let category of pagedCategories" [category]="category" (delete)="delete($event)"
    (update)="update($event)">
  </app-category>
</div>
<app-pager (pageItems)='displayPagedItems($event)' [pageSize]="5" [items]="categories$"></app-pager>