<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" [routerLink]='["/home"]'>Simple PMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/home"]' [routerLinkActive]='["active"]'
            [routerLinkActiveOptions]='{ exact: true }'>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/categories"]' [routerLinkActive]='["active"]'
            [routerLinkActiveOptions]='{ exact: true }'>Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/products"]' [routerLinkActive]='["active"]'
            [routerLinkActiveOptions]='{ exact: true }'>Products</a>
        </li>
      </ul>
    </div>
  </nav>
</header>