<div *ngIf="isOpen">
  <div *ngIf="(products$ | async).length != 0; else noproducts">
    <div class="row">
      <div class="col-12">
        <h4>Products</h4>
      </div>
    </div>
    <div class="row" *ngFor="let product of products$ | async">
      <div class="col-sm-6">
        <h5>{{product.id}}. {{product.name}}</h5>
      </div>
      <div class="col-sm-6">
        <span>Created on: {{product.createdOn | date: 'dd/MM/yyyy'}}</span>
      </div>
    </div>
  </div>
  <ng-template #noproducts>
    <div class="row">
      <div class="col-md-12">
        <h5>This category has no products</h5>
      </div>
    </div>
  </ng-template>
</div>