<div class="container border-bottom border-dark">
  <div class="row">
    <div class="col-sm-1">
      <div class="pt-3 pb-3">
        <h5 class="d-inline d-sm-none">Id: </h5>
        <span>{{category.id}}</span>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="pt-3 pb-3">
          <h5 class="d-inline d-sm-none">Name: </h5>
        <span (click)="onUpdate(editableTypes.NAME)" placement="bottom" triggers="mouseenter:mouseleave"
        ngbPopover="Click to edit">{{category.name}}</span>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="pt-3 pb-3">
        <h5 class="d-inline d-sm-none">Desc: </h5>
        <span (click)="onUpdate(editableTypes.DESCRIPTION)" placement="bottom" triggers="mouseenter:mouseleave"
        ngbPopover="Click to edit">{{category.description}}</span>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="pt-2 pb-2">
        <a class="btn btn-danger text-white ml-2" (click)="onDelete()">Delete</a>
        <app-category-products-toggle (toggle)="toggleProducts()"></app-category-products-toggle>
      </div>
    </div>
  </div>
  <app-category-products [categoryId]="category.id" [isOpen]="categoryProductsIsOpened"></app-category-products>
</div>