<div class="modal-header">
  <h4 class="modal-title">Update {{entityType}} {{type}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #updateForm="ngForm" (ngSubmit)="updateForm.form.valid && save()">
    <div class="form-group">
      <label for="entity">{{entityType}} {{type}}</label>
      <input type="text" id="entity" name="entity" [(ngModel)]="entity" placeholder="entity" class="form-control"
        required minlength="3" #entityM="ngModel" />
      <div *ngIf="updateForm.submitted && entityM.invalid" class="alert alert-danger">
        <div *ngIf="entityM.errors.required">
          {{type}} is required.
        </div>
        <div *ngIf="entityM.errors.minlength">
          {{type}} must be at least 3 characters long.
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-outline-dark" (click)="close()">Discard</button>
      <button type="submit" class="btn btn-outline-dark">Save</button>
    </div>
  </form>
</div>